
body {
margin-left: 80;
margin-right: 80;
margin-top: 50;

font-family: Helvetica, Arial, Verdana, sans-serif;
font-size: 14px;
color: #000000;
background-color: #F9F9F9;
}

table{
font-family: Helvetica, Arial, Verdana, sans-serif;
font-size: 14px;
}

li {
line-height: 150%;
}

hr {
/*
color: #ff0000;
background-color: #ff0000;
*/
/*color: #0000a0;
background-color: #0000a0;
*/
color: #000000;
background-color: #000000;

height: 1px;
border: 0;
}

h2 {
color: #0000a0;
}

h3 {
color: #0000a0;
}

h4 {
color: #0000a0;
}

/**************** Pseudo classes ****************/


a:link {
color: #000000;
text-decoration: underline;
font-weight: bold;
}

li :link {
color: #000000;
text-decoration: underline;
font-weight: bold;
}

a:visited {
color: #000000;
text-decoration: underline;
font-weight: bold;
}

li a:visited {
color: #000000;
text-decoration: underline;
font-weight: bold;
}

a:hover {
color: rgb(0, 0, 200);
padding-bottom: 5px;
font-weight: bold;
text-decoration: underline;
}


li a:hover {
/* display: block; */
color: rgb(0, 0, 200);
/*padding-bottom: 5px; */
font-weight: bold;

/*
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C6EC8C;
*/
}



a:active {
color: rgb(255, 0, 102);
font-weight: bold;
}



/*----------------------------IDs for div sections */

#navigation {

position: absolute;
width: 180px;
height: 400px;
margin: 0;
margin-top: 50px;

/*border-right: 1px solid #C6EC8C;*/
/*border-right: 2px solid red; */
font-weight: normal;
}

#centerDoc {

position: absolute;
padding: 0 0 20px 0; /*top right bottom left*/
margin-top: 50px;
margin-left: 180px;
padding-left: 40px;
padding-right: 40px;
border-left: 2px solid red;
}
